<span id="brand">get <span>linked</span> </span>

<style>
    #brand {
        font-size: clamp(2rem, 2vw, 2rem);
        display: block;
        font-family: 'ClashDisplay';
    }

    #brand span{
        color: var(--sec-color-three);
        
    }
</style>