
---

---

<div id="timer">
    <span>00<span class="subs">h</span> </span>
    <span>00<span class="subs">m</span> </span>
    <span>00<span class="subs">s</span> </span>
</div>

<style>
    #timer {
        font-family: 'UnicaOne';
        font-size: 3rem;
    }
    #timer span {
        padding-right: 1rem;

    }
    #timer span:last-of-type {
        padding-right:0;
    }
    .subs {
        font-size: 1.1rem;
        font-weight: lighter;

    }
</style>